<div class="hero_area">
    <header class="header_section">
      <div class="container-fluid">
        <div class="row">
          <div class="m-2">
            <nav class="navbar navbar-expand-lg custom_nav-container">
              <a class="navbar-brand" href="index.html">
                <span>
                  Proxym
                </span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div class="navbar-nav navbar-content ml-auto ">
                      <a class="nav-item nav-link" routerLink="/home">Home</a>
                      <a class="nav-item nav-link" routerLink="/home">About</a>
                      <a class="nav-item nav-link" routerLink="/home">Services</a>
                      <a class="nav-item nav-link" routerLink="/home">Contact</a>
                      <a class="nav-item nav-link" routerLink="/rh">rh</a>
                      <a class="nav-item nav-link" routerLink="/employee">employee</a>
                </div>
                  <div class="navbar-nav ms-auto">
                    <a *ngIf="!isLoggedIn()" class="nav-item login-item nav-link" routerLink="/login">Login</a>
                    <a  *ngIf="isLoggedIn()"  class="nav-item login-item nav-link">Logout</a>

                </div>
            </div>
            </nav>
          </div>
        </div>
      </div>


    </header>